{% extends 'base.html.twig' %}

{% block title %}Artwork{% endblock %}

{% block body %}
    <h1>Artwork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artwork.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ artwork.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ artwork.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ artwork.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('artwork.index') }}">back to list</a>

    <a href="{{ path('artwork.edit', {'id': artwork.id}) }}">edit</a>

    {{ include('artwork/_delete_form.html.twig') }}
{% endblock %}
