<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<title>
			{% block title %}
				{{ sitename }}
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body>
		{% block header %}
			{% include 'components/nav.html.twig' %}
			<section class="header-image">
				<div class="book-text">
					<h1>{{sitetitle}}</h1>
				</div>
			</section>
		{% endblock %}

		{{ include('components/_flash_messages.html.twig') }}

		<div class="container">
			{% block body %}
				Empty Body
			{% endblock %}
		</div>

		{% block footer %}
			<footer class="footer">
				<div class="container">
					<div class="row text-center">
						<p class="copyright m-auto">
							Copyright &copy; 2019 All rights reserved | By issam |    <a href="{{ path('mention.index') }}">Mentions légales</a>
						</p>
					</div>
				</div>
			</footer>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
