{% extends 'base.html.twig' %}

{% block body %}
	<div class="col">
		<h1>Contact</h1>

		{{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
			<p>
				{{ form_label(form.firstname, 'Prénom: ') }}
				{{ form_widget(form.firstname, { attr: { placeholder: 'Saisissez votre prénom' } }) }}
			</p>
			<p>
				{{ form_label(form.lastname, 'Nom: ') }}
				{{ form_widget(form.lastname) }}
			</p>
			<p>
				{{ form_label(form.email, 'Email: ') }}
				{{ form_widget(form.email) }}
			</p>
			<p>
				{{ form_label(form.message, 'Message: ') }}
				{{ form_widget(form.message) }}
			</p>
			<p>
				<input type="submit" value="Valider" class="btn btn-primary">
			</p>
		{{ form_end(form) }}
	</div>
{% endblock %}








